<!DOCTYPE html>
<html>
<head>
  <title>Demo Base</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Demo App", root_path, class: "navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
							<%= nav_link_to "Home", root_path %>
							<%= nav_link_to "Link", "#" %>
							<%= nav_link_to "Link", "#" %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
							<%= nav_link_to "Link", "#" %>
							<%= nav_link_to "Link", "#" %>
							<%= nav_link_to "Link", "#" %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

		<%= render 'shared/flash' %>

		<%= yield %>

		<footer class="footer">
			<p>&copy; Amegawa.com 2015</p>
		</footer>
	</div>

</body>
</html>
