<!DOCTYPE html>
<html>
<head>
  <title>Demo Base</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Demo App", root_path, class: "navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
							<%= nav_link_to "Home", root_path %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
							<% if current_user %>
								<p class="navbar-text">
									<%= link_to "Signed in as #{current_user.name}", current_user %>
								</p>
								<%= nav_link_to "Sign out", sign_out_path %>
							<% else %>
								<%= nav_link_to "Sign up", sign_up_path %>
								<%= nav_link_to "Sign in", sign_in_path %>
							<% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

		<%= render 'shared/flash' if flash.any? %>

		<%= yield %>

		<footer class="footer">
			<p>&copy; Amegawa.com 2015</p>
		</footer>
	</div>

</body>
</html>
