<!DOCTYPE html>
<html>
<head>
  <title>Simple Authentication in Rails 4 with Bcrypt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<a href="https://github.com/jinpae/basic_user_authentication"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
	<div class="container">

		<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Demo App", root_path, class: "navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
							<%= nav_link_to "Home", root_path %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
							<% if current_user %>
								<p class="navbar-text">
									<%= link_to "Signed in as #{current_user.name}", current_user %>
								</p>
								<%= nav_link_to "Sign out", sign_out_path %>
							<% else %>
								<%= nav_link_to "Sign up", sign_up_path %>
								<%= nav_link_to "Sign in", sign_in_path %>
							<% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

		<%= render 'shared/flash' if flash.any? %>

		<%= yield %>

		<footer class="footer">
			<p>&copy; Amegawa.com 2015</p>
		</footer>
	</div>

</body>
</html>
